# Fichiers et dossiers générés par Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
UserSettings/

# Fichiers spécifiques
*.csproj
*.sln
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DS_Store
*.apk
*.unitypackage
